#onebox{
    width: auto;
    height: auto;
    display:inline-block;
    /* background-color: red; */
}
#twobox{
    width: auto;
    height: auto;
    display:inline-block;
    /* background-color: green; */
}


button.btn-primary:disabled {
    /* color: #666; */
    background: #666;
    cursor: default;
    /* cursor: no-drop; */
}