<div>
  <nav class="navbar navbar-expand navbar-light" style="background-color: #06c6bd;">
    <a href="#" class="navbar-brand">Clarapath</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="main" class="nav-link">Main</a>
      </li>
      <li class="nav-item">
        <a routerLink="facing" [ngStyle]="{'background-color': ts.facingActive ? 'yellow' : '#06c6bd' }" class="nav-link">Facing</a>
      </li>
      <li class="nav-item">
        <a routerLink="section" [ngStyle]="{'background-color': ts.sectioningActive ? 'yellow' : '#06c6bd' }" class="nav-link">Section</a>
      </li>
      <li class="nav-item">
        <a routerLink="tape" [ngStyle]="{'background-color': ts.tapeActive ? 'yellow' : '#06c6bd' }" class="nav-link">Tape</a>
      </li>
      <li class="nav-item"  >
        <a routerLink="slide" [ngStyle]="{'background-color':  ts.slideActive ? 'yellow' : '#06c6bd' }" class="nav-link">Slide</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="blocks" class="nav-link">Human in the loop UI- offline replay</a>
      </li>
      <li class="nav-item">
        <a routerLink="images" class="nav-link">Images</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li> -->
    </div>
  </nav>

  

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

