<style>

    ::ng-deep .ngxImageZoomContainer > img{
    max-height: 450px!important;
    }
    
</style>
    
<div class="list row">
    <h2>Human in the loop UI - real time</h2> 
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
            type="text"
            class="form-control"
            placeholder="Search by block_id"
            [(ngModel)]="block_id"
            />
            <div class="input-group-append">
            <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="searchBlockId()"
            >
                Search
            </button>
            </div>
        </div>
    </div>
    <div class="card">
        <h4>Blocks List</h4>
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" (click)="clickit()" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Show/Hide blocks list
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="col-md-6" >
                    
                    <ul class="list-group"  *ngIf="show">
                        <li 
                        class="list-group-item"
                        *ngFor="let block of blocksAll; let i = index"
                        [class.active]="i == currentIndex"
                        (click)="setActiveBlocks(block, i)"
                        >
                        {{ block.created_at }}
                        {{ block.block_id }}
                        </li>
                    </ul>
            
                    
                </div>
          </div>
        </div>
      </div>

    
    
    <div class="col-md-2">
        <div *ngIf="currentBlock">
            <h4>Block Information</h4>
            <div class="card">
            <div>
                <label><strong>block_id:</strong></label> {{ currentBlock.block_id }}
            </div>
            <div>
                <label><strong>devices__id:</strong></label>
                {{ currentBlock.devices__id }}
            </div>
            <div>
                <label><strong>sessions__id:</strong></label>
                {{ currentBlock.sessions__id }}
            </div>
        </div>
    
        <h4>Cut Index List</h4>
        <ul class="list-group">
            <li
            class="list-group-item"
            *ngFor="let image of images; let i = index"
            [class.active]="i == currentCutIndex"
            (click)="setCutIndexActiveBlocks(image, i)"
            >
            {{ image.cut_index }}
            <span class="badge bg-primary rounded-pill" [ngSwitch]=image.image_type >
                <div *ngSwitchCase="0">White</div>
                <div *ngSwitchCase="1">UV</div>
                <div *ngSwitchCase="2">LDF</div>
                <div *ngSwitchDefault>Unknown</div>
            </span>
            
            </li>
        </ul>
    </div>
    </div>
    <div class="col-md-8">
        <div *ngIf="currentImage">
            <h4>Image Information</h4>
            <div class="card">
                
            <div>
                <label><strong>Location:</strong></label> {{ currentImage.download_path }}
            </div>
            <div>
                <label><strong>Description:</strong></label>
                {{ currentImage.description }}
            </div>
            <div>
                <label><strong>Status:</strong></label>
                {{ currentImage.comment }}
            </div>
            <div>
                <label><strong>Camera:</strong></label>
                <container-element [ngSwitch]=currentImage.camera_location>
                <div *ngSwitchCase="0">Facing</div>
                <div *ngSwitchCase="1">Sectioning</div>
                <div *ngSwitchCase="2">Tape</div>
                <div *ngSwitchCase="3">Slide</div>
                <div *ngSwitchDefault>Unknown</div>
                </container-element>
            </div>
            <div>
                <label><strong>Image Type:</strong></label>
                <container-element [ngSwitch]=currentImage.image_type>
                <div *ngSwitchCase="0">White</div>
                <div *ngSwitchCase="1">UV</div>
                <div *ngSwitchCase="2">LDF</div>
                <div *ngSwitchDefault>Unknown</div>
                </container-element>
            </div>
            <div>
                <label><strong>json:</strong></label>
                {{ currentImage.json }}
            </div>
            <a class="badge badge-warning" routerLink="/images/{{ currentImage.id }}">
                <button style="margin:5px;" type="button" class="btn btn-primary">Edit Description</button>    
            </a>
        </div>
    
        <div *ngIf="currentImage">  
            <div class="card">
                
                <div class="card"></div>
                    <a target="_blank" rel="noopener" href="http://10.0.0.98/ol.html?images__id={{ currentImage.id }}"> 
                        <button style="margin:5px;" type="button" class="btn btn-primary" >Annotation</button>       
                    </a>
                    
            <lib-ngx-image-zoom
                thumbImage='http://10.0.0.98/local_images/{{ currentImage.download_path }}'
                fullImage='http://10.0.0.98/local_images/{{ currentImage.download_path }}'
                [magnification]="1"
                [enableScrollZoom]="true"
                [enableLens]="true"
                [lensWidth]="100"
                routerLink="/enlargedImage/{{ currentImage.id }}" class="nav-link"
                id="img1"
                ></lib-ngx-image-zoom>       
            </div>
        </div>
    </div>
    
    <div *ngIf="!currentBlock">
        <br />
        <p>Please click on a Block from the list...</p>
    </div>
    </div>
</div>
