<div>
  <div *ngIf="currentImage.id" class="edit-form">
    <h4>Image</h4>
    <form>
      <div class="form-group">
        <label for="title">View_path</label>
        <input
          type="text"
          class="form-control"
          id="download_path"
          [(ngModel)]="currentImage.download_path"
          name="download_path"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentImage.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentImage.comment  }}
      </div>
      <div class="form-group">
        <label><strong>Image Type:</strong></label>
        {{ currentImage.image_type  }}
      </div>
      <div class="form-group">
        <label><strong>Camera:</strong></label>
        {{ currentImage.camera_location  }}
      </div>
      <div class="form-group">
        <label for="json">json</label>
        <input
          type="text"
          class="form-control"
          id="json"
          [(ngModel)]="currentImage.json"
          name="json"
        />
      </div>
    </form>

    <!-- <button
      class="badge badge-primary mr-2"
      *ngIf="currentImage.comment"
      (click)="updatePublished('false')"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentImage.comment"
      class="badge badge-primary mr-2"
      (click)="updatePublished('true')"
    >
      Publish
    </button> -->

    <button class="badge badge-danger mr-2" (click)="deleteImage()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateImage()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentImage.id">
    <br />
    <p>Cannot access this Image...</p>
  </div>
</div>
