#onebox{
    width: auto;
    height: auto;
    display:inline-block;
    /* background-color: red; */
}
#twobox{
    width: auto;
    height: auto;
    display:inline-block;
    /* background-color: green; */
}