<style>

::ng-deep .ngxImageZoomContainer > img{
max-height: 450px!important;
}

</style>

<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by download_path"
        [(ngModel)]="blocks__id"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>blocks__id List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let image of images; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveImage(image, i)"
      >
        {{ image.blocks__id }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllImages()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentImage">
      <h4>Image</h4>
      <div class="card">
        <div>
          <label><strong>Location:</strong></label> {{ currentImage.download_path }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentImage.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentImage.comment }}
        </div>
        <div>
          <label><strong>Camera:</strong></label>
          <container-element [ngSwitch]=currentImage.camera_location>
            <div *ngSwitchCase="0">Facing</div>
            <div *ngSwitchCase="1">Sectioning</div>
            <div *ngSwitchCase="2">Tape</div>
            <div *ngSwitchCase="3">Slide</div>
            <div *ngSwitchDefault>Unknown</div>
          </container-element>
        </div>
        <div>
          <label><strong>Image Type:</strong></label>
          <container-element [ngSwitch]=currentImage.image_type>
            <div *ngSwitchCase="0">White</div>
            <div *ngSwitchCase="1">UV</div>
            <div *ngSwitchCase="2">LDF</div>
            <div *ngSwitchDefault>Unknown</div>
          </container-element>
        </div>
        <div>
          <label><strong>json:</strong></label>
          {{ currentImage.json }}
        </div>
      </div>
      <div class="card">
        <lib-ngx-image-zoom
          thumbImage='http://10.0.0.98/local_images/{{ currentImage.download_path }}'
          fullImage='http://10.0.0.98/local_images/{{ currentImage.download_path }}'
          [magnification]="1"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="100"
          routerLink="/enlargedImage/{{ currentImage.id }}" class="nav-link"
          id="img1"
          ></lib-ngx-image-zoom>       
      </div>
      
      
      <a class="badge badge-warning" routerLink="/images/{{ currentImage.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentImage">
      <br />
      <p>Please click on a Block from the list...</p>
    </div>
  </div>
</div>
