.section-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.blockId > h2 {
    font-size: 20px;
}

.sessionId > h2 {
    font-size:20px;
}

/* .onebox{
    width: auto;
    height: 100%;
    display:inline-block;
    justify-content: space-between;
    /* background-color: red; 
} */

/*#twobox{
    width: auto;
    height: auto;
    display:inline-block;
    /* background-color: green; 
} */

.decision-container {
    position:relative;
}

#imagebox{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;
    position:absolute;
    top:0;
}

#buttonbox{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:200px;
    position:Absolute;
    bottom:160px;
}

button.btn-primary:disabled {
    /* color: #666; */
    background: #666;
    cursor: default;
    width: 250px;
    height: 100px;
    border-radius: 30px;
    /* cursor: no-drop; */
}
