<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="view-path">View-Path</label>
        <input
          type="text"
          class="form-control"
          id="download_path"
          required
          [(ngModel)]="image.download_path"
          name="download_path"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="image.description"
          name="description"
        />
      </div>

      <button (click)="saveImage()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Image was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newImage()">Add</button>
    </div>
  </div>
</div>
